body {
    font-family: sans-serif;
    text-align: center;
  }

  hr {
    margin: 0 10%;
  }

h1 {
  font-size: 10vw;
  font-family: 'Bungee Shade', cursive;
  color:black;
  margin: 0 10%;
  margin-top: 3vw;
  animation: color-change 5s infinite;
}

@keyframes color-change {
  0% {
    background-color: #64ff00;
  }

  25% {
    background-color:#FC49AB;
  }

  50% {
    background-color: #ffa500;
  }

  75% {
    background-color: #ffFF00;
  }

  100% {
    background-color:#64ff00;
  }
}

ol {
  text-align: left;
}

ul {
  text-align: left;
  list-style: none;
}

.luck {
  font-family: 'Bungee Shade', cursive;
  font-size: 4vw;
}
/* How to Play instructions */
.hide {
  display: none;
}

/* How to play modal content styling */
img, svg {
  width: 30vw;
}

/* Game completion message */

#well_done {
  font-family: 'Rubik Puddles', cursive;
  font-size: 6vw;
}

  /* GAME BOARD STYLING*/
#gameboard {
    width: fit-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
  }

  .tile {
    /* Box */
    border: 2px solid lightgrey;
    width: 15vw;
    height: 15vw;
    margin: 1vw;
    font-size: 11vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .correct {
    background-color: #83e083;
    color: white;
    border-color: white;
  }
  
  .present {
    background-color: #ffff83;
    color: white;
    border-color: white;
  }
  
  .absent {
    background-color: #f4a2a2;
    color: white;
    border-color: white;
  }

  /* KEYBOARD STYLING */
#keyboard {
    margin: 5px;
    margin: 0 auto;
  }

  .key {
    padding: 7px;
    margin: 5px;
    background-color: #eaeaea;
    border: 1px;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
  }

  .key:hover {
    background-color: #ccc;
  }
  
  #result {
    margin-top: 20px;
  }

  #correct_answer {
    font-weight: bold;
    color: black;
    font-size: 3vw;
    font-family: 'Rampart One', cursive;
  }
  
  @media only screen and (min-width: 600px) {
    h1 {
      font-size: 7vw;
    }
    
    .tile {
      /* Box */
      width: 11vw;
      height: 11vw;
      font-size: 8vw;
    }

    #keyboard {
      max-width: 80vw;
    }
  }

  @media only screen and (min-width: 900px) {
    h1 {
      font-size: 5vw;
    }

    .tile {
      /* Box */
      width: 9vw;
      height: 9vw;
      font-size: 6vw;
    }

    @media only screen and (min-width: 1200px) {
      h1 {
        font-size: 3vw;
      }
  
      .tile {
        /* Box */
        width: 5vw;
        height: 5vw;
        font-size: 3vw;
      }
    }

    #keyboard {
      max-width: 53vw;
    }
  }

  .hide {
    display: none !important;
  }