body {
    font-family: sans-serif;
    text-align: center;
  }

  hr {
    width: 500px;
  }

  /* GAME BOARD STYLING*/
#gameboard {
    width: 350px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  .tile {
    /* Box */
    border: 2px solid lightgrey;
    width: 60px;
    height: 60px;
    margin: 2.5px;
    /* box */
    font-size: 40px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .correct {
    background-color: green;
    color: white;
    border-color: white;
  }
  
  .present {
    background-color: yellow;
    color: white;
    border-color: white;
  }
  
  .absent {
    background-color: red;
    color: white;
    border-color: white;
  }

  /* KEYBOARD STYLING */
#keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 450px;
    margin: 5px;
    margin: 0 auto;
  }

  .key {
    padding: 7px;
    margin: 5px;
    background-color: #eaeaea;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
  }

  .key:hover {
    background-color: #ccc;
  }
  
  #result {
    margin-top: 20px;
  }