body {
    font-family: sans-serif;
    text-align: center;
  }

  hr {
    width: 500px;
  }

  /* GAME BOARD STYLING*/
#gameboard {
    width: 350px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  /* KEYBOARD STYLING */
#keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 450px;
    margin: 5px;
    margin: 0 auto;
  }

  .key {
    padding: 7px;
    margin: 5px;
    background-color: #eaeaea;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
  }

  .key:hover {
    background-color: #ccc;
  }
  
  #result {
    margin-top: 20px;
  }